CLIENT_ID=hGwHhfmjSmS8q1dQmOcJDb_SR8Ijl6RFj2b74pmVd_Y
CLIENT_SECRET=PzUXaamcpKxc1pv1Iw6uDvwBYO8mbQmZk3MSVvxGxDw
CALENDLY_AUTH_BASE_URL=https://auth.calendly.com
CALENDLY_API_BASE_URL=https://api.calendly.com
REDIRECT_URI=http://localhost:3000/oauth/callback
CALENDLY_BASE_URL=https://calendly.com
PORT=3000
