{{> nav }}
<main>
  <div class="container">
    <div class="row" style="margin-top: 50px;">
      <div class="center-align">
        <img src="/images/logo.svg" height="300px" />
      </div>
    </div>
    <div class="row">
      <h1 class="center-align brand-logo" style="color: rgba(0,0,0,0.87);font-weight:300;letter-spacing: -0.00833em;">BuzzwordCRM</h1>
    </div>
    <div class="row">
      <h4 class="center-align" style="color: rgba(0, 0, 0, 0.54);">Innovative! Disruptive! Freemium!</h4>
    </div>
    <div class="row">
      <div class="center-align">
        <a class="waves-effect waves-light btn-large" style="background-color:#ee6e73;" href="/oauth">Log in with Calendly</a>
      </div>
    </div>
  </div>
</main>