button {
    background-color: #ee6e73;
}

.card-title {
    color: white;
    font-weight: 400;
    padding-left: 10px;
}

.event-container {
    background-color: rgb(58, 140, 140);
    border-radius: 25px;
    border-top: 5em;
    color: white;
    height: 50em;
    margin: auto;
    padding-top: 0.2em;
    padding-bottom: 5em;
    position: center;
    text-align: center;
    width: 100em;
}

.event-details {
    background-color: rgb(238,110,115);
    border-radius: 25px;
    padding-top: 3em;
    padding-bottom: 4em;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2rem;
    font-weight: 400;
    letter-spacing: -0.00833em;
}

.event-status {
    background-color: white;
    color: black;
}

.event-type-container {
    padding-top: 2rem;
    text-align: center;
}

.event-type-custom-questions {
    background-color: rgb(255, 255, 255, 0.1);
    color: black;
    margin: auto;
}

.event-type-details-container {
    padding-top: 2rem;
    line-height: 3rem;
}

.event-type-kind {
    text-transform: capitalize;
}

.invitee-details-link {
    color: blue;
}

.invitee-details-link:hover {
    color: antiquewhite;
}

.scheduled-event-header {
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 6%;
    text-align: center;
    opacity: 1;
}
